---
import Layout from '../layouts/Base.astro';
---

<Layout title="Neuigkeiten">
	<main>
        <div class="content">
            <h1>Neuigkeiten</h1>
            <a href="/plena/Plenum_2023-11-10/">Test</a>
        </div>
	</main>
</Layout>

<style>
    .content {
        position: absolute;
        top: 0;
        right: 0;
    }
</style>