---
import Base from "../layouts/Base.astro";
---

<Base title="Preise">
    <h1 class="center">Preise</h1>

    <table>
        <tr>
            <td>Mate</td>
            <td>1,50€</td>
        </tr>

        <tr>
            <td>Spezi</td>
            <td>1,-</td>
        </tr>

        <tr>
            <td>Sterni</td>
            <td>1,-</td>
        </tr>
    </table>
</Base>